<?xml version="1.0"?>
<robot name="camera_on_stand">  

<link name ="world"/>
      <link name="stand">
          <visual>
                <geometry>
                  <box size="0.06 0.06 0.80"/>
                </geometry>
                <origin rpy="0 0 0" xyz="0 0 0.4"/>
                <material name="white"/>
              </visual>
              <inertial>
                  <mass value="0.1"/>
                  <inertia ixx="0.03" ixy="0.0" ixz="0.0" iyy="0.03" iyz="0.0" izz="0.03"/>
              </inertial>
          
        </link>
        <joint name="fixed_stand" type="fixed">
          <origin xyz="1.5 0 0" rpy="0 0 0"/>
              <parent link="world"/>
              <child link="stand"/>
        </joint>
        <link name="camera_link">
          <visual>
              <origin xyz="0 0 0" rpy="0 0 0"/>
               <geometry>
              
              
                <!-- <mesh scale="0.005 0.005 0.005" filename="package://vision_control/meshes/tripod/tripod.dae"/> -->
               <mesh filename="package://owi_35/meshes/kinect.dae"/>
               </geometry>
             </visual>
               <collision>
               <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
                 <geometry>
                   <box size="0.1 0.1 0.1"/>
                 </geometry>
               </collision>
             <inertial>
               <mass value="0.5" />
               <origin xyz="0 0 0" />
               <inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
                        iyy="0.000498940" iyz="0.0"
                        izz="0.003879257" />
             </inertial>
          
          </link>
  <joint name="fixed_camera" type="fixed">
          <origin xyz="-0.035 0 0.850" rpy="0 0 3.14159"/>
              <parent link="stand"/>
              <child link="camera_link"/>
        </joint>
          <link name="camera_link_optical"/>
          <joint name="camera_depth_optical_joint" type="fixed">
              <origin xyz="0 0 0.85" rpy="0 0 3.14"/>
                  <parent link="camera_link"/>
                  <child link="camera_link_optical"/>
            </joint>

    <gazebo reference="camera_link">
        <sensor type="camera" name="camera_s">
          <always_on>1</always_on>
          <visualize>true</visualize>
          <update_rate>30</update_rate>
          <camera name = "head">
            <horizontal_fov>1.4397198</horizontal_fov>
            <image>
              <width>800</width>
              <height>800</height>
              <format>R8G8B8</format>  <!--Changed format since channels were inverted, to go back, change to R8G8B8-->
            </image>
            <clip>
              <near>0.02</near>
              <far>300</far>
            </clip>
            <noise>   <!-- This does apparently nothing neither RGB nor depth-->
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.0007</stddev>
          </noise>
          </camera>
      
          <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
            
            <alwaysOn>true</alwaysOn>
            <updateRate>10.0</updateRate>
            <cameraName>camera_s</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <depthImageTopicName>/camera_link/camera/image_raw</depthImageTopicName>
         <depthImageInfoTopicName>/camera_link/depth/camera_info</depthImageInfoTopicName>
           <pointCloudTopicName>/camera_link/depth/points</pointCloudTopicName>
            <frameName>camera_link</frameName>
            <pointCloudCutoff>0.5</pointCloudCutoff>
         <pointCloudCutoffMax>3</pointCloudCutoffMax>
            <distortionK1>0</distortionK1>
            <distortionK2>0</distortionK2>
            <distortionK3>0</distortionK3>
            <distortionT1>0</distortionT1>
            <distortionT2>0</distortionT2>
            <CxPrime>0.0</CxPrime>
            <Cx>0.0</Cx>
            <Cy>0.0</Cy>
            <focalLength>0</focalLength>
            <hackBaseline>0.07</hackBaseline>
          </plugin>
        </sensor>
      </gazebo>

       



        <!-- <link name="table">
          <visual>
                <geometry>
                  <box size="0.5 0.5 0.08"/>
                </geometry>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <material name="white"/>
              </visual>
              <inertial>
                  <mass value="0.1"/>
                  <inertia ixx="0.03" ixy="0.0" ixz="0.0" iyy="0.03" iyz="0.0" izz="0.03"/>
              </inertial>
        </link>
        <joint name="fixed_table" type="fixed">
          <origin xyz="0 -1.5 0.4" rpy="0 0 0"/>
              <parent link="camera_link_optical"/>
              <child link="table"/>
        </joint> -->

        <gazebo reference="stand">
          <material>Gazebo/Black</material>
        </gazebo>
        <gazebo reference="camera_link">
          <material>Gazebo/Gray</material>
        </gazebo>


</robot>
